<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>♥영화 그 이상의 감동 CGV♥</title>
<style>
.mainV{
background: url(http://localhost:9010/mycgv//images/bg_header.gif);
}

</style>
</head>
<body>
	<header class="header">
		<nav>
			<ul>
				<li><a href="#">로그인</a></li>
				<li><a href="#">회원가입</a></li>
				<li><a href="#">MyCGV</a></li>
				<li><a href="#">공지사항</a></li>
				<li><a href="#">사용자 게시판</a></li>
			</ul>
		</nav>
	   
		<nav class = "mainV">
		 <img src="http://localhost:9010/mycgv//images/h1_cgv.png">
	
		<img src="http://localhost:9010/mycgv//images/h2_cultureplex.png">
			<ul>
				<li><a href="#">영화</a></li>
				<li><a href="#">예매</a></li>
				<li><a href="#">극장</a></li>
				<li><a href="#">이벤트&컬쳐</a></li>
			</ul>
		</nav>
	</header>
	<div class="content">
		<section>
		<p>로그인</p>
		<form name="LoginForm" action ="#" method="post">
			<ul>
				<li>
					<label>아이디</label>
					<input type="text" name="id" >
				</li>
				<li>
					<label>패스워드</label>
					<input type="password" name="pw">
				</li>
				<button type="button">로그인</button>
				<button type="reset">취소</button>
			
			</ul>
		
		
		
		</form>
			
			
			
			
		</section>
	</div>

	<footer>
		<nav>
			<ul>
				<li><a href="">회사소개</a></li>
				<li><a href="">IR</a></li>
				<li><a href="">채용정보</a></li>
				<li><a href="">광고/프로모션문의</a></li>
				<li><a href="">제휴문의</a></li>
				<li><a href="">출점문의</a></li>
				<li><a href="">이용약관</a></li>
				<li><a href="">편성기준</a></li>
				<li><a href="">개인정보처리방침</a></li>
				<li><a href="">법적고지</a></li>
				<li><a href="">이메일주소무단수집거부</a></li>
				<li><a href="">상생경영</a></li>
				<li><a href="">사이트맵</a></li>
			</ul>
		</nav>
		<p>(04377)서울특별시 용산구 한강대로 23길 55, 아이파크몰 6층(한강로동)</p>
		<br>
		<p>대표이사 : 서정사업자등록번호 : 104-81-45690통신판매업신고번호 : 2017-서울용산-0662</p>
		

		<p>개인정보보호 책임자 : 마케팅 담당 정종민대표이메일 : cjcgvmaster@cj.netCGV고객센터 :
			1544-1122</p>

	</footer>




</body>
</html>