<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mycgv.dao.MemberDAO">

	<insert id="getInsertResult">
		insert into cgv_member values(	#{id},
										#{pass},
										#{name},
										#{sumPhone},
										#{sumEmail},
										#{agree},
										sysdate)
	</insert>
	
	<select id="getIdCheckResult" resultType="int">
		select count(*) from cgv_member where id=#{id}
	</select>
	
	<select id="execTotalCount">
		select count(*) from cgv_member
	</select>
	
	<select id="getResultList" resultType="mycgv.vo.MemberVO">
	select rownum as rno
		 , id
		 , name
		 , phone
		 , to_char(jdate,'yy/mm/dd-hh24:mi:ss')as jdate
		   from(select * from cgv_member order by jdate desc)
	</select>
	<select id="getResultListPageNavi" resultType="mycgv.vo.MemberVO">
	select rno
		 , id
		 , name
		 , phone
		 , jdate
		   from(select rownum as rno
		   			 , id
		   			 , name
		   		     , phone
		   			 , to_char(jdate,'yy/mm/dd-hh24:mi:ss')as jdate
		   			   from (select * from cgv_member order by jdate desc))
					   where rno between #{startCount} and #{endCount}
	</select>
	
	
	
	
	


</mapper>

